html,body{
  width: 100%;
  height:100%;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #57596f;
}

a {
  color: #00B7FF;
}

.wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.show {
  width: 25%;
  height:40%;
  position: absolute;
  box-shadow: 4px 5px 10px 1px #3f4969,0px -1px 10px 1px #3f4969;
  border-radius: 5px;
  padding: 2%;
  font-family: "宋体";
}

.one {
  background-color: #f3e747;
  top:16%;
  left: 5%;
}

.two {
  background-color: #84e64b;
  top:40%;
  left: 14%;
}

/*.two::after,
.three::after,
.four::after,
.five::after,
.six::after{
  content: '';
  position:absolute;
  width: 200px;
  height: 200px;
  left: 3%;
  top:11%;
  background: transparent;
  box-shadow:  4px 3px 8px 13px #3c435f;
  transform: skew(10deg) rotate(5deg);
  z-index: -22;
}*/

.three {
  background-color: #7fb3e6;
  top:32.5%;
  left: 28%;
}
.four {
  background-color: #cc47ea;
  top:9%;
  left: 39%;
}
.five {
  background-color: #ec8a4c;
  top:29%;
  left: 49%;
}
.six {
  background-color: #f5b42e;
  top:15%;
  left: 65%;
}

.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover {
  z-index: 99;
  transform: scale(1.2);
}


.control {
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
}

/* 覆盖框 */

.model {
  width:40%;
  height: 60%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  background:rgba(255, 255, 255, 0.7);
  display: none;
}

.add {
  width: 100%;
  height: 100%;
  padding: 0;
}



.title {
  width: 100%;
  height: 20%;
  margin-top: -5%;
  background-color: #109fda;
  line-height: 20%;
  padding-left: 5%;
  padding-top: 0.1%;
}

 /* 输入框相关 */
.name {
  display:inline-block;
}

#username {
  display: inline-block;
  margin:0;
  padding: 0;
  width: 60%;
  height: 90%;
  border: 1px solid skyblue;
  font-size: 1.6rem;
  padding-left: 5%;
}

.show span {
  padding-left: 7%;
  display: block;
  margin-top: 5%;
  width: 100%;
  height: 10%;
}

.show .span2 {
  width: 100%;
  height: 50%;
  position: relative;
}

.me {
  position: absolute;
  top: 0;
  left: -7.5%;
}

#content {
  display: inline-block;
  width: 56%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 11.5%;
  resize: none;
  border: 1px solid skyblue;
  padding: 1%;
  font-size: 1.6rem;
}

#sendBtn {
  margin-left: 8%;
}

