* {
    margin: 0;
    padding: 0;
}
body{
    background: url("../imgs/bg4.png");
}


.header {
    width: 800px;
    height:130px ;
    margin: 0 auto;
}
.header .banner {
    width: 100%;
    height:100px;
    background-image: url("../../主界面/imgs/bg1.jpg");
}

.header .nav {
    width:800px;
    height: 30px;
    /* margin-left: 152px; */
    background-image: url("../../主界面/imgs/bt.jpg");
}
.nav .nava ul{
    list-style: none;
    margin-left: 20px;
}
.nav .nava ul li{
    float: left;
    width: 80px;
    height: 10px;
}
.nava ul li a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: rgba(255,255,255,0.9);
    text-align: center;
    line-height: 30px;
}
.nava a:hover{
    background-color: lavenderblush;
}
.nava2{
    float: right;
    width: 230px;
    height:30px ;
    background: url("../../主界面/imgs/bg2.png");
}
.weizhi{
    width: 800px;
    height: 20px ;
    /*background-color: aqua;*/
    margin: 0 auto;
    text-align: left;
}

.sstiaojian {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-color: aliceblue;
}
.sstiaojian0{


}
.sstiaojian1 {
    width: 80px;
    height: auto;
    background-color: antiquewhite;
    float: left;
}
.sstiaojian2{
    width: 1120px;
    height: auto;
    background-color: bisque;
    float: right;
}