*{margin: 0;padding: 0;}

body {
    background: #efeeec;
}
.banner {
    width: 100%;
    height: 430px;

/*    position: fixed;
    top: 0;
    left:0;
    z-index: 999;*/
}

.banner>img {
    width: 100%;
    height: 430px;
}


     /*   banner设计*/

.banner>.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
 background-color: rgba(227, 229, 228, 0);
    -webkit-transition: background-color 3s ease-in-out;
    transition: background-color 3s ease-in-out;
}
.logo {
    width: 10%;
    height: 80px;
    float: left;
    margin-left: 20%;
    font-size: 40px;
    font-family: 宋体;
    line-height: 80px;
    text-align: center;
    font-weight: bold;

}

.logo~ul{
    list-style: none;
    width: auto;
    height: 80px;
}

.logo~ul>li {
    float: left;
    width: 5%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    font-family: 宋体;


}

.main {
    position: relative;
    height: auto;

}

.box {
    padding: 15px 0 0 15px;
    float: left;
    -webkit-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.pic {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.pic img {
    width: 303px;
    height: auto;
}


    /*返回按钮*/
 a {
     width: 40px;
     height: 40px;
     border-radius: 20px;
     background: gray;
     position: fixed;
     right: 5%;
     bottom: 20px;
     text-align: center;
     line-height: 40px;
     font-size: 14px;
     text-decoration: none;
     border-radius: 2px;
     color: white;
     display: none;
 }

.show {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    background: deepskyblue;
/*    height: 200px;
    width: 303px;*/
    z-index: 999;
}