*{
    margin: 0;
}
body {
    min-width: 1300px;
    min-height: 1000px;
    background-color: #000004!important;
}
 /*表单样式开始*/
.wrap {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -215px;
    border: 2px double white;
    border-radius: 5px;
}

.img-responsive {
    width: 100%;
}

.form_1:hover {
    opacity: 1;
}

.form_1 {
    width: 400px;
    height: 270px;
    background-color: rgb(206, 233, 246);
    padding: 40px 10px 0px 10px ;
    opacity: .7;
    color: #181e1f;
}


.btn {
    margin-left: 65px;
}


.text {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 15%;
    left:49%;
    margin-left: -200px;
/*    border: 1px solid greenyellow;*/
    text-align: center;
    font-size: 40px;
    font-family: 宋体;
    line-height: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-size: 200% 100%;
    background-image: -webkit-linear-gradient(left,#df21f5 , skyblue 25%, orange 50%, green 75%, #df21f5);
    -webkit-animation: content-animation 4s infinite linear;
}
@-webkit-keyframes content-animation {
    0%{background-position: 0,0}
    100%{background-position: -100% 0;}
}

.text:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

 .footer {
     width: 800px;
     height: auto;
   /*  border: 1px solid red;*/
     position: absolute;
     bottom: 30px;
     left: 50%;
     text-align: center;
     margin-left: -400px;
     font-size: 20px;
     color: rgba(255, 255, 255, 0.71);
     font-family: 宋体;

 }
 .line::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 102px;
    background-color: white;
    left: -2px;
    top: 0px;
     transform: scale3d(0,0,0);
     -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
 .line::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 102px;
    background-color: white;
    right: -2px;
    top: 0px;
     transform: scale3d(0,0,0);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
 .footer::before {
    content: "";
    position: absolute;
    width: 800px;
    height: 2px;
    background-color: white;
    right: 0px;
    top: 0px;
     transform: scale3d(0,0,0);
     -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}
.footer::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 2px;
    background-color: white;
    right: 0px;
    bottom: 0px;
    transform: scale3d(0,0,0);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

 .footer:hover .line::before,
 .footer:hover .line::after,
 .footer:hover::before,
  .footer:hover::after {
     transform: scale3d(1,1,1);
 }

 .modal-backdrop {
     background-color: #e8e8e8;
 }