
 .wrap {
     min-width: 1300px;
     margin: 0 auto;
 }
  /*nav部分开始*/
  .screen {
      min-width: 1300px;
      margin: 0 auto;
      display: block;
      overflow: hidden;
  }
  .head {
      width: 90%;
      height: 100px;
      margin: 0 auto;
  }

    .head h1 {
        margin: 0;
        float: left;
        height: 100px;
        line-height: 100px;
        font-size: 30px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .nav ul {
        list-style: none;
        width: 500px;
        height: 100px;
    }
    .nav ul li {
        width: 100px;
        float: left;
        height: 100px;
        line-height: 100px;
        font-size: 30px;
        font-family: "STSong", STXingkai, FangSong;
    }
    .nav ul li a:hover{
        color: black;
        text-decoration: none;
    }
    .nav {
        display: inline-block;
    }

 /* nav部分结束*/

  /*banner部分开始*/
    .banner {
        height: 500px;
    }

 .carousel-inner .item {
     height: 500px;
 }


 .carousel-inner img {
     width: 100%;

 }

 /* banner部分结束*/