<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
    <script src="../vue-resource.js"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="t" @keyup="get()">
    <ul>
        <li v-for="value in myData">
            {{value}}
        </li>
    </ul>

</div>
<script >

    new Vue({
        el: '#app',
        data: {
            myData: [],
            t: ''
        },
        methods: {
            get: function () {
                this.$http.jsonp('https://pb.sogou.com/pv.gif?uigs_productid=webgo&inputstr=a&istrlen=1&query=' + this.t+ '&encodein=utf-8&encodeout=utf-8').then(function(res){
                    this.myData=res.data.s;
                });
            }
        }
    })
</script>
</body>
</html>