<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
    <script src="../vue-resource.js"></script>
</head>
<body>

    <div id="app">
        <input type="text" v-model="tl" @keyup="get()">
        <ul>
            <li v-for="value in myData">
                {{value}}
            </li>
        </ul>

    </div>
<script >

    new Vue({
        el: '#app',
        data: {
            myData: [],
            tl: ''
        },
        methods: {
            get: function () {
                console.log(11);
                this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
                        {
                            wd:this.tl
                        }, {
                            jsonp: 'cb'
                        }).then(function (res) {
                    this.myData = res.data.g;
                }, function () {
                });
            }
        }
    })
</script>
</body>
</html>