.content {
    width: 100%;
    height: 635px;
    background-color:  rgba(26, 105, 101, 0.62);
}

.s div,.z div,.x div{
    width: 337px;
    height: 210px;
    background-color: pink;
    float: left;
    overflow: hidden;
}

.bannertop  {
    background-color: rgb(247, 143, 143);
}

.content {
    background-color: rgba(11, 196, 239, 0.35);
}

.footer {
    background-color: rgb(234, 68, 68);
}

.bj {
    width: 1349px;
    margin: 0 auto;
}