*{margin: 0;padding: 0;}

.main {
    position: relative;
    height: auto;

}

.box {
    padding: 15px 0 0 15px;
    float: left;
    -webkit-transition: .5s linear;

}

.pic {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.pic img {
    width: 303px;
    height: auto;
}