<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

<div id="app-4">
        <p>{{message}}</p>
        <input v-model="message">
    </div>

<div id="app-5">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
</div>

<div id="app-6">
    <p>{{message}}</p>
    <button v-on:click="re">nizhuan</button>
</div>



</body>
        <script>

            var app=new Vue({
                el:'#app',
                data:{
                    message:'Hello Vue!'
                }
            })

            var app2=new Vue({
                el:'#app-2',
                data:{
                    message:'页面加载于'+new Date()
                }
            })

            var app3=new Vue({
                el:'#app-3',
                data:{
                    seen:true
                }
            })

            var app4=new Vue({
                el:'#app-4',
                data:{
                    message:'Hello Vue!'
                }
            })

            var app5=new Vue({
                el: '#app-5',
                data: {
                    todos:[
                        {text:'学习javascript'},
                        {text:'xuexivue'},
                        {text:'z'}
                    ]
                }
            })
        var app6 =new Vue({
            el: '#app-6',
            data:{
                message:'hello'
            },
            methods: {
                re:function(){
                    this.message=this.message.split('').reverse().join('')
                }
            }
        })
        </script>
</html>