*{
    margin: 0;
}
body {
    background-image: url(../imgs/bg.jpg);
    height: auto;
    transform-origin: center top 0px;
}
.center {
    width: 600px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imgs/center.png);
    background-position: 53% 56%;
    padding-top: 12%;
    background-size: 170% 150%;
}
input {
    width: 42%;
    height: 2.7em;
    background-color: rgba(224, 227, 232, 0.11);
    border-radius: 5px;
    opacity: 1;
    margin-left: 23.6%;
    font-size: 16px;
    padding-left: 8%;
    line-height: 2.7em;
}
span {
    display: block;
  height: 2em;
    line-height: 2em;
    width: 35%;
    margin-left: 30%;
}

.login{
    width: 25%;
    height: 2em;
    font-size: 20px;
    margin-left: 1%;
    background-color: #4c7c97;
    color: #95b9b8;
    border-radius: 5px;
}
.regist{
    width: 25%;
    height: 2em;
    font-size: 20px;
    margin-left: 23.6%;
    background-color: #4c7c97;
    color: #95b9b8;
    border-radius: 5px;
}

.formOne {
    position: relative;
}

.fa {
    position: absolute;
    left: 150px;
}
.fa-user {
    top: 5px;
}
.fa-key{
    top: 85px;
}

.fa-qq {
    top: 165px;
    left: 145px;
}

.welcomText {
    margin-bottom: 5%;
    margin-left: 26%;
    font-size: 20px;
}